<div class="col-lg-4 col-md-6 mb-4">
  <div class="card h-100">
    <a href="#"><img class="card-img-top" src="http://placehold.it/700x400" alt=""></a>
    <div class="card-body">
      <h4 class="card-title">
        <a href="#"><%= product.name %></a>
      </h4>
      <%= form_for @cart_item, url: cart_item_index_path do |f| %>
				<%= f.number_field :quantity, :value => 1, :min => 1 %>
        <%= f.number_field :price, :value => product.price %>
        <%= link_to 'Detail', shop_path(product.id), :class => 'btn btn-success' %>
				<%= f.submit "Add to cart", :class => 'btn btn-success' %>
        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet numquam aspernatur!</p>
      <% end %>
    </div>
    <div class="card-footer">
      <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
    </div>
  </div>
</div>